In [1]:
import numpy as np
import pandas as pd
import math

In [3]:
saks = pd.read_csv('saks_processed.csv')

In [4]:
saks.head()

,website,brand_name,product_name,category,department,original_price,discount_price,order,percent_off,private_label,brand_mean,brand_positioning
0,Saks,Eton,Grid Check Dress Shirt,dress-shirts,men,250.0,175.0,1,30.0,Non-Private,260.457143,Contemporary
1,Saks,Eton,Floral Lightweight Cotton Dress Shirt,dress-shirts,men,295.0,206.5,2,30.0,Non-Private,260.457143,Contemporary
2,Saks,Eton,Check Dress Shirt,dress-shirts,men,250.0,175.0,5,30.0,Non-Private,260.457143,Contemporary
3,Saks,Eton,Contemporary-Fit Linen-Blend Check Dress Shirt,dress-shirts,men,295.0,206.5,6,30.0,Non-Private,260.457143,Contemporary
4,Saks,Eton,Vertical Stripe Dress Shirt,dress-shirts,men,225.0,157.5,7,30.0,Non-Private,260.457143,Contemporary

In [6]:
off5th = pd.read_csv('off5th_processed.csv')

In [9]:
off5th = off5th[['website','brand_name','product_name','category','department',
        'original_price','discount_price','order','percent_off',
        'private_label','brand_mean','brand_positioning']]

In [13]:
combined = saks.append(off5th)

In [14]:
combined.sample(10)

,website,brand_name,product_name,category,department,original_price,discount_price,order,percent_off,private_label,brand_mean,brand_positioning
2026,Off5th,ALEXIS BARBARA,Kelsie Contrast-Hem Mini Dress,dresses,women,497.0,197.99,231,60.16,Non-Private,621.000000,Contemporary
699,Saks,Munthe,Eastcoast Pinstripe Tie-Waist Shirtdress,dresses,women-s-apparel,235.0,94.00,1119,60.00,Non-Private,347.500000,Contemporary
150,Off5th,TailorByrd,Long-Sleeve Plaid Shirt,casual-button-down-shirts,men,99.5,29.99,495,69.86,Non-Private,94.500000,Trendy
2825,Off5th,Rebecca Taylor,Kamea Floral Bow Midi Dress,dresses,women,495.0,159.99,1110,67.68,Non-Private,451.271186,Contemporary
3532,Off5th,Aidan by Aidan Mattox,Off-The-Shoulder Knit Cocktail Dress,dresses,women,220.0,69.99,2940,68.19,Non-Private,231.500000,Contemporary
2095,Off5th,James Perse,Striped Cotton Tank Dress,dresses,women,245.0,69.99,3392,71.43,Non-Private,250.289474,Contemporary
3966,Off5th,Prose & Poetry,Cadence Midi Dress,dresses,women,595.0,109.97,3708,81.52,Non-Private,572.500000,Contemporary
1879,Off5th,Tanya Taylor,Clarisse Floral Silk Dress,dresses,women,475.0,189.99,750,60.00,Non-Private,545.555556,Contemporary
774,Off5th,Tommy Hilfiger,Floral Belted Dress,dresses,women,144.0,79.99,2702,44.45,Non-Private,110.938776,Trendy
1337,Saks,Cinq à Sept,Theo Faux-Wrap Crepe Mini Dress,dresses,women-s-apparel,395.0,158.00,1968,60.00,Non-Private,451.166667,Contemporary